<md-button id="signout-button" class="md-raised md-primary" ng-click='homeCtrl.logout()'>Sign Out</md-button>
<h2 class="md-display-3">HOME</h2>
<section class="home-content">
  <h2 class="md-display">Add a Child</h2>

  <create-child></create-child>
  <h2 class="md-display-3">Children</h2>

    <div class="child-block">
        <child-item ng-repeat="item in homeCtrl.child" child="item"></child-item>
    </div>

    <div class="child block">
        <pet ng-repeat="item in homeCtrl.pet" pet="item"></pet>
    </div>

</section>
