<section class="child-form">
  <md-card class="card">
  <form name="createChildForm"
    class="child-input"
    ng-submit="createChildCtrl.createChild()">

      <md-input-container>
      <label for="name">Name</label>
      <input
        type="text"
        name="name"
        ng-model="createChildCtrl.child.name"
        required>
      </md-input-container>


      <md-input-container>
      <label for="description">Phone#</label>
      <input
      type="number"
      name="phone"
      ng-model="createChildCtrl.child.phone"
      required>
    </md-input-container>
    <div>
      <md-button class="md-raised md-primary" type="submit">Add Child</md-button>
    </div>
  </form>
</md-card>
</section>
