body {
  font-family: Roboto;
}

.md-display-4 {
  font-family: Roboto;
  margin: 0 auto;
}

.md-display-3 {
  font-family: 'Fredoka One', cursive;
  text-align: center;
}

.md-display {
  font-family: 'Fredoka One', cursive;
  text-align: center;
}

.card {
  margin: 0 auto;
  width: 80%;
}

.login {
  margin: 0 auto;
}

.log-input {
  text-align: center;
  margin: 0 auto;
  font-size: 1.5em;
}

.login-form {
  margin-top: 1.25em;
}

.pet-form {
  margin: 0 auto;
}

.join-container {
  text-align: center;
}

.signup-section {
  text-align: center;
}

.child-block {
  margin: 0 auto;
}

.sub-header {
  font-size: 1.7em;
  text-align: center;
  font-family: 'Fredoka One', cursive;
}

.home-content {
  margin: 0 auto;
  text-align: center;
}

.child-input {
  font-size: 1.5em;
}

#title {
  font-family: 'Fredoka One', cursive;
}

#signout-button {

}

fieldset {
  width: 50%;
}
