<section class="game-content">

<h2 class="md-display-3">{{ gameCtrl.pet.name }}</h2>

<div class="pet-pic">
    <img src="../../assets/kamja.jpg">
</div>

<md-card class="pet-card">
  <div class="care">
    <md-button class="md-raised md-primary" ng-click="gameCtrl.walkPet()">Walk</md-button>
    <md-button class="md-raised md-primary" ng-click="gameCtrl.feedPet()">Feed</md-button>
    <md-button class="md-raised md-primary" ng-click="gameCtrl.hygienePet()">Bath</md-button>
    <md-button class="md-raised md-primary" ng-click="gameCtrl.playPet()">Play</md-button>
  </div>
</md-card>
</section>
