.avatars {
    height: 3em;
    width: 3em;
    max-height: 480px;
    text-align: center;
}

md-card-content {
    font-size: 16px;
}

md-card {
    text-align: center;
}

div {
    max-height: 1px;
}