<section link rel="stylesheet" href="./_about.scss">
    <h2>About Us</h2>
    <md-card>
        <md-card-title><h3>Carlo Santos</h3></md-card-title>
        <md-card-content>
            <img src="../../assets/carlo.jpg" class="avatars">
            <p>Computers and Technology have always been a passion of Carlo's. He majored in Communication to pursue a career in print media, but at the time the industry was transitioning to online. After school he worked in the service industry for what he thought would be a short time, but he loved working in a team environment and interacting with customers face to face. The itch to work with technology was always there so he decided to learn coding combine his writing skills with programming skills in order to contribute to online media. Carlo is now a full stack JavaScript Developer.
            </p>
            </md-card-content>

    </md-card>
    <md-card>
        <md-card-title><h3>James Thomas</h3></md-card-title>
        <md-card-content>
            <img src="../../assets/jam.jpg" class="avatars">
            <p>A Navy veteran from southern Georgia, James has always worked towards expanding his understanding of the world. He joined the Navy in order to travel and moved to Seattle just to live in a new place. Now, as a full stack Javascript Developer, he is working towards helping others explore and learn like he was able to.
            </p>
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-title><h3>Maria Lee-Reed</h3></md-card-title>
        <md-card-content>
            <img id="maria" src="../../assets/maria.jpg" class="avatars">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, cumque quod a sed et ullam nam perferendis reprehenderit eaque repudiandae! Vero, natus, suscipit iure voluptatem quidem dolor nesciunt voluptate fugiat.
            </p>
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-title><h3>Patrick Sheridan</h3></md-card-title>
        <md-card-content>
            <img src="../../assets/patrick.jpg" class="avatars">
            <p>Former Forest Service Ranger looking to make the world a better place though code.</p>
        </md-card-content>
    </md-card>

</section>
