<md-card>
  <div layout="column">

  <div>
    <md-card-title class="md-headline">Name: {{ childItemCtrl.child.name }}</md-card-title>
    <md-card-content>
      <p>Phone: {{ childItemCtrl.child.phone }}</p>
      <p>ID: {{ childItemCtrl.child._id }}</p>
    </md-card-content>
  </div>
  <div>
    <md-button class="md-raised md-warn" ng-click="childItemCtrl.deleteChild()">Delete</md-button>
  </div>
</div>

</md-card>

<md-list-item>
  <div layout="column">
    <div>

    <form ng-submit="childItemCtrl.addPet()">
      <md-input-container>
      <label for="pet">Pet Name</label>
      <input
      type="text"
      ng-model="childItemCtrl.pet.name">
    </md-input-container>
    <div>
      <md-button class="md-raised" type="submit">Adopt Pet</md-button>
    </div>
    </form>
  </div>
  </div>

  <!-- <button ng-click="childItemCtrl.deletePet()">Delete</button> -->
</md-list-item>
